.EarningLeave {
    font-family: "Segoe UI", sans-serif;

    
}

.EarningLeaveTable {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 0.9rem;

  .earnedLeaveInput {
    width: 80px;            // make the input wider
    text-align: right;      // align text to the right
    padding: 6px 6px;       // optional padding
    border: 1px solid #ccc; // border style
    border-radius: 4px;     // rounded corners
    font-size: 0.9rem;

    &:focus {
        border: 2px solid #5A67D8;  // violet border on focus
        outline: none;               // remove default browser outline
    }
  }


  .tableContainer {
    overflow-x: auto;
    max-height: 600px;
    overflow-y: auto;
    
    display: flex;
    justify-content: center;
    // border: 1px solid #ddd;
  }

  .earningTable {
    width: 50%;
    margin: 0 auto; 
    border-collapse: collapse;
    text-align: center;
    
  }

  .earningTable th,
  .earningTable td {
    border: 1px solid #ddd;
    padding: 0.5rem;
  }

  .earningTable thead {
    background-color: #ddd;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .toolbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    gap: 8px;
  }

  .newButton,
  .saveButton,
  .clearButton {
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    font-weight: 600;
  }

  .newButton {
    background-color: #2b7a78;
    color: white;
  }

  .saveButton {
    background-color: #1d72b8;
    color: white;
  }

  .clearButton {
    background-color: #c82333;
    color: white;
  }
}
