.HazardForm {
  flex: 1;
  min-width: 300px;

  label {
    font-weight: bold;
    display: block;
    margin-bottom: .3rem;
  }

  input {
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    min-width: 300px;
    padding: .5rem;
  }


  /* Specific colors */
  .saveButton { background: #28a745; }
  .clearButton { background: #f59e0b; }

  /* Shared hover styles */
  .buttonGroup button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  /* Individual hover colors */
  .saveButton:hover { background: #218838; }
  .clearButton:hover { background: #d97706; }

  .searchButton { background: #0d6efd; }
  .searchButton:hover { background: #0a58ca; }
  
}

.Hazard {
    font-family: "Segoe UI", sans-serif;    
}

.HazardTable {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 0.9rem;

    .myButton {
        margin-top: 6px;
        background-color: #0070f3;
        color: white;
        border: none;
        padding: 6px 12px;
        border-radius: 6px;
        cursor: pointer;
        font-weight: 600;
    }

    .myButton:hover {
        background-color: #0059c9;
    }

    .hazInput {
      width: 80px;            // make the input wider
      text-align: right;      // align text to the right
      padding: 6px 6px;       // optional padding
      border: 1px solid #ccc; // border style
      border-radius: 4px;     // rounded corners
      font-size: 0.9rem;

      &:focus {
          border: 2px solid #5A67D8;  // violet border on focus
          outline: none;               // remove default browser outline
      }
    }


    .tableContainer {
        overflow-x: auto;
        max-height: 600px;
        overflow-y: auto;
        
        display: flex;
        justify-content: center;
        // border: 1px solid #ddd;
    }

    

    .hazTable {
        width: 50%;
        margin: 0 auto; 
        border-collapse: collapse;
        text-align: center;
        
    }

    .hazTable .addTableRow {
        text-align: center;
        border: none;
    }

    .hazTable th,
    .hazTable td {
        border: 1px solid #ddd;
        padding: 0.5rem;
    }

    .hazTable thead {
        background-color: #ddd;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .toolbar {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
        gap: 8px;
    }

    .newButton,
    .saveButton,
    .clearButton {
        padding: 6px 12px;
        border-radius: 6px;
        cursor: pointer;
        border: none;
        font-weight: 600;
    }

    .newButton {
        background-color: #2b7a78;
        color: white;
    }

    .saveButton {
        background-color: #1d72b8;
        color: white;
    }

    .clearButton {
        background-color: #c82333;
        color: white;
    }
    .percent {
        padding-left: 5px;
        font-weight: 700;
        font-size: 0.95rem;
    }
}


